services:
  db:
    image: timescale/timescaledb:latest-pg15
    ports:
      - "5431:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - db-data:/var/lib/postgresql/data
  redis:
    image: redis:latest
    ports:
      - "6378:6379"
    volumes:
      - redis-data:/data

volumes:
  db-data:
  redis-data:


